pandas
numpy
scikit-learn
matplotlib
seaborn
jupyter
xgboost
openpyxl
optuna
huggingface-hub
transformers
tensorflow
colorama
statsmodels
torch
adjustText
sentence-transformers==2.3.0
bertopic==0.16.0
shap
--extra-index-url https://pypi.nvidia.com
cuml-cu12
nltk
locale